<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Übersicht Tutorials - Spaß mit Tutorials</title>
        <link rel="stylesheet" href="/css/grid.css">
        <link rel="stylesheet" href="/css/styles.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Kopfbereich -->
        <header>
            <img height = 80 src="https://i.imgur.com/5na3ggy.png" alt="Bild von fun">
            <h1>Spaß mit Tutorials</h1>
        </header>

        <!-- Nav Bereich -->
        <nav>
            <a href="/">List</a>
            <span>│</span>
            <a href="/tutorials">Tutorials</a>
            <span>│</span>
            <a href="/tutorial">Tutorial</a>
            <span>│</span>
            <a href="/form">Tutorial anlegen</a>
        </nav>

        <!-- Haupt / Zusatz -->
        <main>

            <!-- Hauptinhalt -->
            <div id="mainContent">
                <section id="installRam">
                    <img width="250" height="150" src="https://i.imgur.com/WQb5mzx.png" alt="RAM mit altem Mann"/>
                        <!-- Titel -->
                        <h3>Ram richtig installieren</h3>
                        <!-- Datum -->
                        <p><small>13.10.2021</small><br><span>Dauer: <i>ca. 10 Minuten</i></span></p>
    
                        <!--Beschreibung-->
                        <p>Ram reinballern ohne kaputt lore</p>
                </section>
    
                <section id="gpuStep">
                    <img width="250" height="150" src="https://i.imgur.com/mtiWArv.png" alt="Grafikkarte Stockbild"/>
                    <!-- Titel -->
                    <h3>Grafikkarte einbauen</h3>
                    <!-- Datum -->
                    <p><small>13.10.2021</small><br><span>Dauer: <i>ca. 13 Minuten</i></span></p>
    
                    <!--Beschreibung-->
                    <p>GPU reinballern ohne kaputt</p>
                    
                </section>
    
                <section id="turnOn">
                    <img width="250" height="150" src="https://i.imgur.com/sC8g96c.png" alt="Power Button"/>
                    <!-- Titel -->
                    <h3><a href="/tutorial">PC Einschalten</a></h3>
                    <!-- Datum -->
                    <p><small>13.10.2021</small><br><span>Dauer: <i>ca. 5 Minuten</i></span></p>
    
                    <!--Beschreibung-->
                    <p>Ich druecken Knof, Knof machen an</p>
                </section>
            </div>

            <!-- Zusatzinformationen -->
            <div id="addContent">
                <h3>Neuste Tutorials: </h3>
                <ul>
                    <li>Titel, Datum, Dauer</li>
                    <li>Titel, Datum, Dauer</li>
                    <li>Titel, Datum, Dauer</li>
                    <li>Titel, Datum, Dauer</li>
                </ul>
            </div>

        </main>

        <!-- Footer -->
        <footer>
            <a href="https://discord.gg/j5UQaPQNYf"><u>Managed by Kegelclub e.V. gGmbH</u></a>
            <p><i>© by Tutorials Inc. e.V. gGmbH & co. KG partnered with Tutorial AG</i></p>
        </footer>

            
    </body>
</html>